*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

body{
    background-color: #e0e0e0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]{
    opacity: 0; 
}

input[type="checkbox"]:checked  ~ .login-form{
    animation: animation 2s forwards;
}

input[type="checkbox"]:checked  ~ .registration{
    animation: animation2 2s forwards;
}


label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    background-color: darkgrey;
}

.form-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

.login-form, .registration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 20px #3b3b3b;
}

.login-form{
    position: absolute;
    animation: animation2 2s forwards;
}

.registration{
    position: absolute;
    animation: animation 2s forwards;
    height: 600px;
}

.tittle{
    font-size: 30px;
    font-weight: 700;
    color: #520000;
    text-shadow: 0 0 3px #d1d1d1;
}

input:focus{
    outline: none;
}

input{
    background-color: #d1d1d1;
}

input[type="text"], input[type="password"], input[type="email"]{
    padding-left: 15px;
}

input, .buttons, .reg{
    width: 75%;
    height: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 77.5%;
}

.inside{
    width: 48%;
    height: 100%;
    background-color: #520000;
    color: #fff;
}

.inside:nth-child(2){
    background-color: #303030;
}

.inside:hover{
    background-color: #2b0000;
    transition:.3s linear;
}

.inside:nth-child(2):hover{
    background-color: #000;
    transition:.3s linear;
}

.reg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

@keyframes animation{
    0% {
        margin-top: 0;
    }
    100%{
        opacity: 0;
        margin-top: 600px;
    }
}

@keyframes animation2{
    0% {
        margin-top: 600px;
    }

    100%{
        opacity: 1;
        margin-top: 0;
    }
}

